img{
    width: 50%;
    height: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25%;
    padding-right: 25%;
}

body{
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

table{
    text-align: center;
    border-collapse: collapse;
    font: 16px ;
    width: 100%;
    background-color: rgb(15, 15, 15);
}

th,tr,td{
    border: 1px solid rgb(50, 50, 50);
    padding: 12px;
    color: white;
}

h1{
    font-size: 150px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 65px;
    text-align: center;
}

h3{
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
}

.sekcia{
    text-transform: uppercase;
}

th{
    text-transform: uppercase;
    font-size: 20px;
}

p{
    color: white;
    font-size: 125%;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

a{
    color: rgb(255, 152, 212);
}

ul,ol{
    color: white;
    padding-left: 46.5%;
    font-size: 20px;
}