
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    margin: 0;
}

body {
    background-color: hsl(148, 38%, 91%);
}

.container {
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 10vh;
    padding: 2%;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4%;
    padding-bottom: 1rem;
}

.form_item {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 48%;
}

.form_item_mail {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
}

label {
    margin-bottom: 2%;
    font-size: small;
    font-family: 'Karla', sans-serif;
}

input {
    border: 0.5px solid hsl(169, 82%, 27%);
    width: 100%;
    height: 2.3rem;
    padding: 0;
    border-radius: 5px;
}

.form_item_query {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
    
}

.query-type {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.query_item {
    width: 48%;
    height: 2.3rem;
    border: 0.5px solid hsl(169, 82%, 27%);
    padding: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.query_input {
    width: 7%;
    margin-left: 10%;
    margin-right: 10%;
}

.query_label {
    font-size: small;
    font-family: 'Karla', sans-serif;
    color: hsl(187, 24%, 22%);
    text-align: center;;
}