body, html{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100%; */
}

div{
    padding: 10px;
}
.container{
    display: grid;
    grid-template-areas: 
        "A A B C D E"
        "A A B F G G"
        "H I J K L M";
    grid-gap: 10px;
}

.item1{
    grid-area: A;
    background: linear-gradient(90deg, #c57600, #55d50a, #0ff1f1);
}

.item2{
    grid-area: B;
    background-color: #f1c40f;
}  

.item3{
    grid-area: C;
    background-color: #b5f10f;
}

.item4{
    grid-area: D;
    background-color: #0ff1bc;
}

.item5{
    grid-area: E;
    background-color: #400ff1;
}

.item6{
    grid-area: F;
    background-color: #cf0ff1;
}

.item7{
    grid-area: G;
    background-color: #f10fc8;
}

.item8{
    grid-area: H;
    background-color: #f10f69;
}

.item9{
    grid-area: I;
    background-color: #a47272;
}

.item10{
    grid-area: J;
    background-color: #f1f10f;
}

.item11{
    grid-area: K;
    background-color: #0ff1f1;
}

.item12{
    grid-area: L;
    background-color: #f10f0f;
}

.container2{
    display: grid;
    grid-template-areas:
        "A A A"
        "B C C"
        "D D D";
    grid-gap: 10px;
}
.ite{
    grid-area: A;
    background-color: #62ed17;
    height: 200px; 
}

.ite2{
    grid-area: B;
    background-color: #f10fd7;
    height: 600px;
}

.ite3{
    grid-area: C;
    background-color: #0fb1f1;
    height: 600px;
}

.ite4{
    grid-area: D;
    background-color: #62ed17;
    height: 200px;
}